.customStart1 {
    position: relative;
    left: 17%;
}
.customStart2 {
    position: relative;
    left: 34%;
}
.customStart3{
    position: relative;
    left: 51%;
}
.customStart4{
    position: relative;
    left: 68%;
}

